.usa-tag {
  display: inline-flex;
  padding: var(--tag-padding-y, 2px) var(--tag-padding-x, 8px);
  align-items: center;
  border-radius: var(--tag-radius, 1000px);
  background: var(--tag-bg, #565C65);
  color: var(--tag-color, #FFF);
  font-family: var(--tag-font-family, "Public Sans");
  font-size: var(--tag-font-size, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 14px */
  text-transform: uppercase;
}

.usa-tag--big {
  padding: var(--tag-padding-x, 8px) var(--tag-padding-y, 16px);
  gap: 10px;
  font-size: var(--tag-font-size-big, 16px);
  line-height: 100%;
} 