.usa-search {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 27ch;
  max-width: 100%;
}

.usa-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.usa-search .usa-input {
  margin-right: var(--theme-spacing-1, 8px);
  min-width: 27ch;
  padding: var(--theme-spacing-1, 8px);
  height: 2rem;
}

.usa-search .usa-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--theme-spacing-1, 8px);
  min-width: auto;
  height: 2rem;
}

.usa-search .usa-search__submit-icon {
  width: 1.25rem;
  height: 1.25rem;
}

/* Big variant */
.usa-search--big {
  font-size: var(--theme-font-size-ui-sm, 16px);
}

.usa-search--big .usa-input {
  padding: var(--theme-spacing-2, 16px);
  height: 2.5rem;
}

.usa-search--big .usa-button {
  padding: var(--theme-spacing-2, 16px);
  height: 2.5rem;
}

/* Small variant */
.usa-search--small {
  font-size: var(--theme-font-size-ui-2-xs, 14px);
}

.usa-search--small .usa-input {
  padding: var(--theme-spacing-1, 8px);
}

.usa-search--small .usa-button {
  padding: var(--theme-spacing-1, 8px);
}

.usa-search--small .usa-search__submit-text {
  display: none;
} 